{% load crispy_forms_tags %}

<div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog ">
        <form action="{% url "EmployeeChangePassword" %}" method="POST" autocomplete="off" >
            {% csrf_token %}
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Password Settings
                </h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <hr />
            <div class="modal-body">
                <div class="row formrow">
                    <div class="col-md-6">
                        <label class="control-label label-with-margin">Current Password</label>
                        <input type="text" name="old_password" id="currentpassword" class="form-control border-left-0" placeholder="Current Password">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label label-with-margin">New Password</label>
                        <input type="text" name="newpassword" id="newpassword" class="form-control border-left-0" placeholder="New Password" Required>
                    </div>
                </div>
                <div class="row formrow">
                    <div class="col-md-6">
                        <label class="control-label label-with-margin">Confirm New Password</label>
                        <input type="text" name="confirmpassword" id="confirmpassword" class="form-control border-left-0" placeholder="Confirm Password" Required>
                    </div>

                </div>

            </div>
            <hr />
            <!-- </div> -->
            <div class="modal-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-color" type="submit">Update</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>