<div class="modal fade" id="agentModal-{{i.id}}" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url "update_assigned_agent" i.id %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="agentModalLabel">Assigned To Agent</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <hr>
                <div class="modal-body">

                    {% if i.lead_status == "New Lead" %}
                <label class="custom-form-label" for="">Assigned To Agent</label>
                <select class="form-select" name="assign_to_agent" id="assign_to_agent">
                    <option value="0">Select</option>
                    
                    {% for agent in agent %}
                    
                        <option value="{{ agent.id }}" {% if enquiry.assign_to_agent_id == agent.id %}selected{% endif %}>{{ agent.users }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                    
                    
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
  </div>