<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url "Agent_add_todo" %}">
            {% csrf_token %}
            
            <div class="mb-3">
              <label for="taskDescription" class="col-form-label">Task Description:</label>
              <textarea class="form-control" id="taskDescription" name="todoDescription"></textarea>
            </div>
         
        </div>
        <div class="modal-footer" >
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Save Todo</button>
        </div>
      </div>
       </form>
    </div>
</div>
<!-- Add this in your template -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/tT1DR5u9iJp97sj3kg/drq/G3KK6iHNua6I5s=" crossorigin="anonymous"></script>
<!-- Include js-cookie library -->
