<div class="modal" id="followUpModal" tabindex="-1" role="dialog" aria-labelledby="followUpModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
   <form action="{% url "followup" %}" method="POST">
      {% csrf_token %}
   <div class="modal-content">
      <div class="modal-header">
         <h5 class="modal-title" id="followUpModalLabel">Create Follow Up</h5>
         <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
         </button>
      </div>
      <hr>
      <div class="modal-body">
         <div class="row formrow">
            <div class="col-md-6">
               <input type="text" value={{enquiry.id}} name="enq_id" hidden>
               <label for="exampleFormControlInput1" class="custom-form-label">Title</label>
               {% comment %} <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Add Branch Name"> {% endcomment %}
               {{form.title}}
              
            </div>
            <div class="col-md-6">
               <label for="exampleFormControlInput1" class="custom-form-label">Enter Description</label>
               {% comment %} <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="-----------"> {% endcomment %}
               {{form.description}}
               
            </div>
         </div>
         <div class="row formrow">
            <div class="col-md-6">
               <label for="exampleFormControlInput1" class="custom-form-label">Follow Up Date</label>
               {% comment %} <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Add Branch Name"> {% endcomment %}
               {{form.calendar}}
               
            </div>
            <div class="col-md-6">
               <label for="exampleFormControlInput1" class="custom-form-label">Follow Up Time</label>
               {% comment %} <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="-----------"> {% endcomment %}
               {{form.time}}

            </div>
         </div>
         <div class="row formrow">
            <div class="col-md-6">
               <label for="exampleFormControlInput1" class="custom-form-label">Follow Up Status</label>
               {% comment %} <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Add Branch Name"> {% endcomment %}
               {{form.follow_up_status}}
               
            </div>
            <div class="col-md-6">
               <label for="exampleFormControlInput1" class="custom-form-label">Priority</label>
               {% comment %} <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="-----------"> {% endcomment %}
               {{form.priority}}
               
            </div>
         </div>
         <div class="row formrow">
            <div class="col-md-12">
               <label for="exampleFormControlInput1" class="custom-form-label">Add Notes :</label>
               {{form.remark}}
              
            </div>
           
         </div>
      </div>
      <hr>
      <div class="modal-footer">
         <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-color" type="submit">Confirm
            </button>
         </div>
      </div>
   </div>
   </form>
</div>
</div>